.inOrderView_shipAddrShowAll {
  margin-right: 329px;
  .el-form-item__content{
    .el-input__inner{
      width: 400px;
    }
  }
}

.outOrderView_recAddrShowAll {
  .el-form-item__content{
    .el-input__inner{
      width: 300px;
    }
  }
}
